@import '../mixins/media';
@import '../variables/colors';
@import '../variables/gaps';

.hero {
  background-image: url('../../images/hero/hero-img.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0;
  margin-bottom: $section-gap;

  @include onTablet {
    padding: 160px 0;
  }

  @include onDesktop {
    padding: 210px 0;
  }

  &__subtitle {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: $dark-accent-color;
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 40px;
    color: $dark-shade-color;
    font-size: 48px;
    line-height: 1;
    text-transform: uppercase;

    @include onTablet {
      font-size: 93px;
    }

    @include onDesktop {
      font-size: 124px;
    }
  }
  
  &__title span {
    color: $brand-color;
  }

  &__btn {
    display: inline-block;
    text-align: center;
    line-height: 58px;
    width: 164px;
    height: 58px;
    background-color: $brand-color;
    color: white;
    font-weight: 500;
    transition: background-color 0.3s ease-in-out;
  }

  &__btn:hover {
    background-color: $dark-shade-color;
  }
}
