@import './components/navbar.scss';
@import './components/hero.scss';
@import './components/categories.scss';
@import './components/benefits.scss';
@import './components/about-us.scss';
@import './components/mid-season-sale.scss';
@import './components/comfort.scss';
@import './components/brands.scss';
@import './components/post-item.scss';
@import './components/post.scss';
@import './components/blog.scss';
@import './components/footer.scss';

@import '../styles/mixins/media';
@import '../styles/variables/colors';

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  overflow-x: hidden;
}

body.disable-scroll {
  overflow-y: hidden;
}

h1,
h2 {
  font-family: 'Bebas Neue', cursive;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background-color: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.add-to-cart-btn {
  background-color: $dark-shade-color;
  color: white;
  transition: background-color 0.3s ease-in-out;
  padding: 16px 30px;
  font-size: 16px;
}
.add-to-cart-btn:hover {
  background-color: $brand-color;
}

// dynamic general styles
.section {
  margin: 0 auto 100px;

  @include onTablet {
    margin: 0 auto 120px;
  }
}
.section-title {
  font-size: 38px;
  letter-spacing: 2px;
  font-weight: 400;

  @include onTablet {
    font-size: 52px;
  }

  & span:last-of-type {
    color: $brand-color;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;

  @include onTablet {
    padding-left: 32px;
    padding-right: 32px;
  }
}
